.viewer {
  position: relative;
  width: 100%;
  height: 100vh;
  background: whitesmoke;
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.45;
  z-index: 0;
}

/*.fakeHand {   //will add later
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height:260px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0.85;
  transition: transform 0.15s ease, opacity 0.15s ease;
} 
*/

.pinching {
  background-image: url("../../../../../assets/cursors/handpinch.png");
  transform: translate(-50%, -50%) scale(0.96) rotate(-6deg);
  opacity: 1;
}



.imageContainer {
  cursor: none;
}

.imageContainer.dragging {
  cursor: grabbing;
}

.imageContainer.hasCursor {
  cursor: var(--cursor-idle) 32 32, grab;
}

.imageContainer.dragging.hasCursor {
  cursor: var(--cursor-drag) 32 32, grabbing;
}


.imageContainer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1800px;

  cursor: var(--cursor-idle, grab);
}

.rotated {
  transform: rotate(-3deg);
}


.dragging {
  cursor: var(--cursor-drag, grabbing);
}



.singleImage {
  max-height: 90vh;
  object-fit: contain;
  box-shadow: 0 25px 60px rgba(0,0,0,0.4);
}

.doubleImage {
  position: relative;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
}

.halfImage {
  height: 92vh;
  max-width: 38vw;
  object-fit: contain;
  background: #fdfcf8;
  backface-visibility: hidden;
}

.leftPage {
  border-right: 1px solid #ddd;
}

.rightPage {
  border-left: 1px solid #ddd;
}

/* -------- DRAG PAGE -------- */

.flipSheet {
  position: absolute;
  right: 0;
  height: 92vh;
  max-width: 38vw;
  object-fit: contain;

  transform-origin: left center;
  backface-visibility: hidden;
  pointer-events: none;

  box-shadow:
    inset -40px 0 40px rgba(0,0,0,0.25),
    -12px 0 30px rgba(0,0,0,0.2);
}
